@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter&family=Roboto:wght@300;400;700;900&display=swap');

@media all and (min-width: 575px) {
  body {
    background-image: url(assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}


h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h6 {
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

.inter {
  font-family: 'Inter', sans-serif;
  font-size: larger;
}